/env
fin_sentiment_front/node_modules
fin_sentiment_front/.pnp
fin_sentiment_front/.pnp.js
fin_sentiment_front/coverage
fin_sentiment_front/build
fin_sentiment_front/.env.local
fin_sentiment_front/.env.development.local
fin_sentiment_front.env.test.local
fin_sentiment_front.env.production.local
fin_sentiment_frontnpm-debug.log*
fin_sentiment_frontyarn-debug.log*
fin_sentiment_frontyarn-error.log*
