/env
project/finsenti_frontend/node_modules
project/finsenti_frontend/.DS_Store
project/finsenti_frontend/.pnp
project/finsenti_frontend/.pnp.js
project/finsenti_frontend/coverage
project/finsenti_frontend/build
project/finsenti_frontend/.env.local
project/finsenti_frontend/.env.development.local
project/finsenti_frontend/.env.test.local
project/finsenti_frontend/.env.production.local
project/finsenti_frontend/npm-debug.log*
project/finsenti_frontend/yarn-debug.log*
project/finsenti_frontend/yarn-error.log*
project/finsenti_frontend/.vscode
.DS_Store
.vscode/
venv/
