<!DOCTYPE html>
<html>
<body>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Publisher</th>
        
        <th>Summary</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
      {% for i in article_data %}
      <tr>
        {% if i['sentiment'] < 0  %}
            <td> <img src="{{ i['image'] }}" width="50" height=auto></td>
            <td style = "color: red">{{ i['title'] }}</td>
            <td style = "color: red">{{ i['site_name'] }}</td>
            <td style = "color: red">{{ i['description'] }}</td>
            <td style = "color: red">{{ i['pubDate'] }}</td>


        {% endif %}
        {% if i['sentiment'] >= 0  %}
            <td> <img src="{{ i['image'] }}" width="50" height=auto></td>
            <td style = "color: green">{{ i['title'] }}</td>
            <td style = "color: green">{{ i['site_name'] }}</td>
            <td style = "color: green">{{ i['description'] }}</td>
            <td style = "color: green">{{ i['pubDate'] }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
